/* Beginning of Universal CSS */
* {
  border: 2px solid red;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* Ending of Universal CSS */

body {
  margin: 0px;
  padding: 0px;
  height: 1200px;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
  height: 1200px;
}

.nav {
  height: 60px;
}

.navlinks {
  height: 60px;
  margin: 0px;
  padding: 0px;
}

.navlink {

}
